html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

svg {
  z-index: 1;
}

#videoForm {
  width: 90%;
  margin: 4rem auto 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  background-repeat: no-repeat;
  background-image: url(../images/wave-svg.svg);
}

.search {
  width: 60%;
}

.formDiv {
  width: 100%;
  display: block;
}

.main {
  max-height: 50%;
  min-height: 400px;
  flex-direction: column;
}

.title {
  width: fit-content;
  margin: 5% auto;
  border-bottom: 3px solid darkorchid;
}

.error-box {
  margin: auto
}

.error {
  width: fit-content;
  font-size: 1.6rem;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
}
