extends layout

block content
  .formDiv.level
    h1.is-2.title Youtube - Converter
    form(method="POST" action="/download" id="videoForm")
      .content
        .columns
          .column
            p.is-size-5.has-text-centered.has-text-white Please enter your Youtube-Link below
        .columns.is-centered.search
          .column.is-full
            input(type="text" class="input is-primary is-large" name="url" placeholder="Paste Youtube Link here")
        .columns.is-centered
          if error
            .column.is-narrow.error-box
              .error.is-centered= error
          .column.is-narrow
            .select.is-primary.is-large.is-centered
              select(name="quality")
                option(type="text" value="mp3") MP3
                option(type="text" value="mp4") MP4
                option(type="text" value="mp4hd") MP4 HD
          .column.is-narrow
            button(type="submit" class="button is-primary is-large") Send
        


  block video
  block download